.review-item {
  text-align: left;
  padding: 1rem;
  align-items: center; /* 세로 가운데 정렬 */
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.review-item:hover {
  background: #f7d9bb;
}

/* todo-item 에 마우스가 있을때만 .remove 보이기 */
.review-item:hover .remove {
  opacity: 1;
}

.review-item {
  border-top: 1px solid #f1f3f5;
}
.review-detail{
  padding: .2rem 1rem;
  text-align: left;
}
.review-bottom{
  padding-left: 1rem;
  text-align: left;
}
.review-title{
  padding: 1.5rem 1rem;
  font-size: 130%;
  text-align: left;
  color: #ef8e2b;
}
